<h1><%= @team.name %></h1>

<h2>Team Motto: <%= @team.motto %></h2>

<% @super_heroes.each.with_index do |hero, index| %>
    <h2>Hero Name: <%= hero.name[index] %></h2>
    <p>Hero Power: <%= hero.power[index] %></p>
    <p>Hero Biography: <%= hero.bio[index] %></p>
<% end %>


